body {
 font-family:secondFont;
  background-color:green;
  font-size:20px;
}
@keyframes spin {
    from {
        transform:rotate(-8deg);
    }
    to {
        transform:rotate(8deg);
    }
}
@font-face {
  font-family:mainFont;
  src:url(mai10.otf);
}
@font-face {
  font-family:secondFont;
  src:url(SegoeUIBold.ttf)
}
h1 {
  font-family:mainFont;
  animation-name: spin;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}
/*uncomment this code for a good time*/
/*body {*/
/*  animation-name: spin;*/
/*    animation-duration: 1.5ms;*/
/*    animation-iteration-count: infinite;*/
/*    animation-timing-function: linear;*/
/*    animation-direction: alternate;*/
/*}*/
h2 {
  font-family:mainFont;
}
h3{
  font-family: mainFont;
  animation-name: spin;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}
button{
  background-color:lime;
  border-radius:5px;
  border:0;
  font-family:secondFont;
  font-size:15px;
  font-weight:bold;
}
button:hover{
  background-color:#00dd00;
}