body {
 font-family:secondFont;
  background-color:green;
  font-size:20px;
}
@font-face {
  font-family:mainFont;
  src:url(mai10.otf);
}
@font-face {
  font-family:secondFont;
  src:url(SeogoeUIBold.ttf)
}

h2 {
  font-family:mainFont;
}
h1 {
  animation: glitch 0.2s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
   font-family:mainFont;
}
@keyframes glitch {
  10%, 90% {
    transform: translate3d(-100px, -2px, -1px);
  }
  
  20%, 80% {
    transform: translate3d(9px, 4px, -10px);
  }

  30%, 50%, 70% {
    transform: translate3d(400px, 10px, -6px);
  }

  40%, 60% {
    transform: translate3d(-350px, -10, 6);
  }
}
.one {
  border-radius:20px;
  width:200px;
  height:65px;
  background-color:grey;
}
button{
  background-color:lime;
  border-radius:5px;
  border:0;
  font-family:secondFont;
  font-size:15px;
  font-weight:bold;
}
button:hover{
  background-color:#00dd00;
}
input {
  background-color:#00ff00;
  border:0;
  border-radius:5px;
}
input:hover{
  background-color:#00dd00;
  border-radius:6px;
}
input[type=text], select {
  width:400;
  height:45;
}
input[type=submit], select {
font-size:15px;
  font-weight:bold;
  font-family:secondFont;
}